/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,500,600,700,800"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* overrides for desktop-first */
.container {
   max-width: 1280px;
}

@media (max-width: 1280px) {
   .container {
      max-width: 1024px;
   }
}

@media (max-width: 1024px) {
   .container {
      max-width: 768px;
   }
}

@media (max-width: 768px) {
   .container {
      max-width: 640px;
   }
}

.corrected-digit {
   /* https://www.reddit.com/r/graphic_design/comments/4l64zo/comment/d3l0rvl/?utm_source=share&utm_medium=web2x&context=3 */
   font-variant-numeric: lining-nums;
   -moz-font-feature-settings: "lnum" 1;
   -moz-font-feature-settings: "lnum=1";
   -ms-font-feature-settings: "lnum" 1;
   -o-font-feature-settings: "lnum" 1;
   -webkit-font-feature-settings: "lnum" 1;
   font-feature-settings: "lnum" 1;
}

/* theme */
.App {
   @apply text-gray-dark text-sm flex flex-col min-h-screen corrected-digit;
}
p {
   @apply text-sm;
}

button {
   @apply text-left focus:outline-none;
}
